

.imgContainer{
    background-image: url(images/plan.jpg);
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    

    display: grid;
    grid-template-columns:37.5% 17.5% 22.5% 23%;
    grid-template-rows: 34% 32% 33% ;
    grid-template-areas: 
    "Conference . serveurs securite"
    "Reception . . ."
    "Reception . personnel archive"
}


@media (max-width:1280px){
    .imgContainer{
            grid-template-columns:35.5% 20.5% 28.5% 16%;

    }
}
@media (max-width: 1024px) {
  .imgContainer{
    display: grid;
    grid-template-columns: 34% 1.5fr 1.9fr 1fr;
    grid-template-rows: 34% 32% 33% ;
  }
}
@media (max-width: 768px) {
  .imgContainer{
    display: grid;
    grid-template-columns: 37.5% 17% 22.5% 1fr;
    grid-template-rows: 34% 32% 33% ;
  }
}


input.parsley-error {
    border-color: #ef4444;
    background-color: #fef2f2;
}

input.parsley-success {
    border-color: #10b981; 
    background-color: #69c99676 ; 
}

.parsley-errors-list {
    color: #ef4444;  
    font-size: 0.875rem; 
    margin-top: 0.25rem;
}

.parsley-errors-list li {
    font-style: italic;
    font-weight: 500;
}





