.imgContainer {
  background-image: url(images/plan.jpg);
  border-radius: 15px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  
  width: 100%;
  aspect-ratio: 16 / 9; 
  max-height: 100vh;
  
  display: grid;
  grid-template-columns: 37.5% 17.5% 22.5% 22.5%;
  grid-template-rows: 34% 32% 34%;
  grid-template-areas:
    "Conference . serveurs securite"
    "Reception . . ."
    "Reception . personnel archive";
}

input.parsley-error {
  border-color: #ef4444;
  background-color: #fef2f2;
}

input.parsley-success {
  border-color: #10b981;
  background-color: #69c99676;
}

.parsley-errors-list {
  color: #ef4444;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

.parsley-errors-list li {
  font-style: italic;
  font-weight: 500;
}

/* Tablet */
@media (max-width: 1279px) {
  main {
    flex-direction: column;
  }

  .sidebarContainer {
    width: 100%;
    height: 280px;
    overflow-y: auto;
  }

  .overlay {
    height: 100vw;
  }

  .empdetail{
    width: fit-content;
  }
}

/* Mobile */
@media (max-width: 778px) {
  .sidebarContainer {
    width: 100%;
    height: 200px;
  }
  
  .imgContainer {
    aspect-ratio: 16 / 9;
    min-height: 300px;
  }

  .overlay{
    height: 550px;
  }
  
  .empdetail{
    width: fit-content;
  }
}